/*-----------------------------------
 * ViT 4.20.20 Galvanize Course
 * Student:     Darren Short
 * Assignment:  Final Project
 * File:        suggestions.css
 *-----------------------------------
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 30px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(173, 219, 233);
    text-align: center;
}

p#heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
}

div.wrapper {
    width: 100%;
    text-align: center;
}

div#input-section {
    width: 60%;
    border: 2px solid beige;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 10px;
}

/* search field */
input#searchterm {
    width: 400px;
    line-height: 30px;
    font-family: monospace;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: beige;
}

input#searchterm:focus {
    outline: none;
}

label {
    color: rgb(109, 97, 97);
}

a {
    /* text-decoration: none; */
    color: rgb(109, 97, 97);
    margin-right: 10px;
    border: 1px solid yellow;
    padding: 5px;
}

ol {
    text-align: left;
}

li {
    text-align: left;
    margin: 10px auto;
    margin-left: 0px;
    color: rgb(92, 85, 85);
    border: 2px solid greenyellow;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a:hover {
    color: white;
}

.italicize {
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
}

span {
    font-family: monospace;
    font-size: 16px;
}
