/*-----------------------------------
 * ViT 4.20.20 Galvanize Course
 * Student:     Darren Short
 * Assignment:  Final Project
 * File:        suggestions.css
 *-----------------------------------
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 30px;
}

body {
    background-color: rgb(164, 193, 202);
    text-align: center;

}

p#heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
}

div#wrapper {
    width: 40%;
    display: block;
    border: 2px solid yellow;
    margin: auto;
}

/* form#search-form {
    text-align: left;
    align-content: left;
    align-items: left;
} */

div#results-div {
    min-height: 300px;
    margin: auto;
    border: 2px solid greenyellow;
}

/* search field */
input#searchterm {
    width: 400px;
    line-height: 22px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* 'search' button */
button#input-btn {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 380px;
}

.italicize {
    font-style: italic;
}